$colora:#3c3c3c;
$colorb:#fff;
@mixin border($colorborder){
	border: 2px $colorborder solid;}
*{
	font-family:Lato;
}
body{
	background: $colorb;
	width: 100%;
	display:flex;
	justify-content: space-between;
  	align-items: center;
	flex-direction:column;
	color: $colorb;
}
p{
	margin:0;
}
header,h2,.btn,{
	text-transform: uppercase;
}
header{
	display:flex;
	justify-content: space-around;
  	align-items: center;
	flex-direction:column;
	width: 100%;
	margin-bottom: 20px;
	padding:10px;
	background:url("../images/header.jpg") center/cover no-repeat;
	.ellipse{
		width: 65px;
		height: 69px;
		margin-top:200px;
	}
	h1{
		font-size: 53.9px;
		font-weight: 700;
		transform: scaleY(1.0018);
		letter-spacing: 10px;
	}
	p{
		font-size: 15px;
		font-weight: 400;
		line-height: 29px;
		text-align: center;	}
	.shape{
		width: 23px;
		height: 37px;
		margin:10px;
	}
}
.aboutus{
	@include border($colora);
	width: 47%;
	color:  $colora;
	margin:20px 0;
	h2{
		font-size: 33.93px;
		font-weight: 700;
		transform: scaleY(1.002);
		transform: translate(0,-50%);
		margin:0;
		background: $colorb;
		display: inline-block;
	}
	div{
		padding:20px;	
		p{
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			margin:0;

		}
		p:nth-of-type(2){
			margin-bottom: 20px;
		}
	}
}
.services{
	width: 100%;
	background:url("../images/services.jpg") center/cover no-repeat;
	padding: 5% 0px;
	margin:20px 0 30px 0;
	.content{
		@include border($colorb);
		width: 60%;
  		border-top: none;
  		margin:50px auto;
		.headline{
			position: relative;
  			transform: translate(0, -50%);
  			margin-left: -2px;
  			margin-right: -2px;
  			overflow: hidden;
  			display: flex;
  			align-items: center;
			h2{
				margin:0 auto;
				font-size: 33.93px;
				font-weight: 700;
				transform: scaleY(1.002);
				position:relative;
				display: inline-block;
				background: transparent;
				flex-grow: 0;
			}
			&::before{
				content: "";
  				background: $colorb;
  				flex-grow: 1;
  				height: 2px;
			}
			&::after{
				content: "";
  				background: $colorb;
  				flex-grow: 1;
  				height: 2px;
			}
		}
		.text{
			width: 100%;
			padding:0 40px 40px;
			margin:0 auto;
			p{
				font-size: 16px;
				font-weight: 300;
				line-height: 25.89px;
			}
		}
	}
}
.whatwedo{
	@include border($colora);
	width: 47%;
	padding:10px;
	color:$colora;
	margin:30px 0 20px 0;
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	h2{
		font-size: 33.93px;
		font-weight: 700;
		transform: scaleY(1.002) translate(0,-70%);
		display: inline-block;
		background: $colorb;
		margin:0;
	}
	.design{
		width: 100%;
		position:relative;
		bottom:55px;
		margin: 30px 0;
	 	img:first-child{
			margin-bottom:35px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			line-height: 25.89px;
		}
	 	p:nth-of-type(1){
			font-size: 19.96px;
			font-weight: 700;
			transform: scaleY(1.002);
			margin-bottom:30px;
		}
	}
	.development{
		width: 100%;
		position:relative;
		bottom:55px;
		margin-bottom: 30px;
		img:first-child{
			margin-bottom:35px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			line-height: 25.89px;
		}
		p:nth-of-type(1){
			margin-bottom:30px;
		}
	}
	.productmanagement{
		width: 100%;
		position:relative;
		bottom:55px;
		img:first-child{
			margin-bottom:35px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			line-height: 25.89px;
		}
		p:nth-of-type(1){
			margin-bottom:30px;
		}
	}
}
.ourworks{
	width:100%;
	margin:20px 0;
	.col-md-4{
		height:237px;
		padding:0 10px 10px 0;
		}
		p{
			font-size: 33.93px;
			font-weight: 700;
			transform: scaleY(1.002) translate(10%,-120%);
			text-transform: uppercase;
			letter-spacing: 10px;
			display:inline-block;
			text-align:left;
		}
		img{
			height: 100%;
			width:100%;
		}
	.row div:last-child{
		padding-right:0;
	}
}
.contactus{
	@include border($colora);
	width: 47%;
	margin:20px 0;
	color:$colora;
	.up{
		padding:10px;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	h2{
		font-size: 29.77px;
		font-weight: 700;
		transform: scaleY(1.0078) translate(0,-70%);
		background: $colorb;
		margin:0;
	}
	p{
		font-size: 16px;
		font-weight: 300;
		line-height: 25.89px;
	}
	.btn{
		@include border($colora);
		background:  $colora;
		margin:20px 0;
	}
	.btn a{
		font-size: 15.87px;
		font-weight: 400;
		transform: scaleY(1.0078);
		color:#fff;
	}
}
footer{
	color:$colora;
	margin:20px 0;
	p{
		display:inline-block;
	}
}
@media(max-width:970px){
	.ourworks{
		.col-md-4 p{
				font-size:20px;
		}
	}
}
@media (max-width: 767px){
	header h1, header p{
			font-size:initial;
		}
	.aboutus h2{
			font-size: initial;
		}
		.services .content .headline h2{
			font-size: initial;
		}
		.whatwedo h2{
			font-size: initial;
			transform: translate(0,-100%);
			margin:0 0 10px 0;
		}
	.ourworks{
		.col-md-4{
			padding: 0 0 5px 0;
			p{
				font-size:20px;}
		}
	}
	.contactus h2{
		font-size: 18px;
		transform: translate(0,-100%);
	}
}