* {
  font-family: Lato; }

body {
  background: #fff;
  width: 100%;
  height: 4685px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff; }

p {
  margin: 0; }

header, h2, .btn {
  text-transform: uppercase; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 1072px;
  background: url("../images/header.jpg") center/cover no-repeat; }
  header .ellipse {
    width: 65px;
    height: 69px;
    margin-top: 200px; }
  header h1 {
    font-size: 53.9px;
    font-weight: 700;
    transform: scaleY(1.0018);
    letter-spacing: 10px; }
  header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-align: center; }
  header .shape {
    width: 23px;
    height: 37px; }

.aboutus {
  border: 2px #3c3c3c solid;
  width: 47%;
  height: 326px;
  color: #3c3c3c; }
  .aboutus h2 {
    font-size: 33.93px;
    font-weight: 700;
    transform: scaleY(1.002);
    position: relative;
    bottom: 30px;
    margin: 0;
    background: #fff;
    display: inline-block;
    width: 50%; }
  .aboutus div {
    height: 308px;
    padding: 20px; }
    .aboutus div p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin: 0; }
    .aboutus div p:nth-of-type(2) {
      margin-bottom: 20px; }

.services {
  width: 100%;
  height: 488px;
  background: url("../images/services.jpg") center/cover no-repeat;
  padding: 5% 0px; }
  .services .content {
    border: 2px #fff solid;
    width: 895px;
    border-top: none;
    margin: 50px auto; }
    .services .content .headline {
      position: relative;
      transform: translate(0, -50%);
      margin-left: -2px;
      margin-right: -2px;
      overflow: hidden;
      display: flex;
      align-items: center; }
      .services .content .headline h2 {
        margin: 0 auto;
        font-size: 33.93px;
        font-weight: 700;
        transform: scaleY(1.002);
        position: relative;
        display: inline-block;
        width: 419px;
        background: transparent;
        flex-grow: 0; }
      .services .content .headline::before {
        content: "";
        background: #fff;
        flex-grow: 1;
        height: 2px; }
      .services .content .headline::after {
        content: "";
        background: #fff;
        flex-grow: 1;
        height: 2px; }
    .services .content .text {
      width: 100%;
      height: 247px;
      padding: 60px;
      margin: 0 auto; }
      .services .content .text p {
        font-size: 16px;
        font-weight: 300;
        line-height: 25.89px; }

.whatwedo {
  border: 2px #3c3c3c solid;
  width: 47%;
  height: 1196px;
  padding: 10px;
  color: #3c3c3c;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .whatwedo h2 {
    font-size: 33.93px;
    font-weight: 700;
    transform: scaleY(1.002);
    position: relative;
    bottom: 55px;
    display: inline-block;
    width: 419px;
    background: #fff;
    margin: 0; }
  .whatwedo .design {
    width: 100%;
    height: 286px;
    position: relative;
    bottom: 55px;
    margin-bottom: 30px; }
    .whatwedo .design img:first-child {
      margin-bottom: 35px; }
    .whatwedo .design p {
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px; }
    .whatwedo .design p:nth-of-type(1) {
      font-size: 19.96px;
      font-weight: 700;
      transform: scaleY(1.002);
      margin-bottom: 30px; }
  .whatwedo .development {
    width: 100%;
    height: 336px;
    position: relative;
    bottom: 55px; }
    .whatwedo .development img:first-child {
      margin-bottom: 35px; }
    .whatwedo .development p {
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px; }
    .whatwedo .development p:nth-of-type(1) {
      margin-bottom: 30px; }
  .whatwedo .productmanagement {
    width: 100%;
    height: 261px;
    position: relative;
    bottom: 55px; }
    .whatwedo .productmanagement img:first-child {
      margin-bottom: 35px; }
    .whatwedo .productmanagement p {
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px; }
    .whatwedo .productmanagement p:nth-of-type(1) {
      margin-bottom: 30px; }

.ourworks {
  width: 100%; }
  .ourworks .col-md-4 {
    height: 237px;
    padding: 0 10px 10px 0; }
  .ourworks p {
    font-size: 33.93px;
    font-weight: 700;
    transform: scaleY(1.002) translate(10%, -120%);
    text-transform: uppercase;
    letter-spacing: 10px;
    display: block;
    width: 280px;
    text-align: left; }
  .ourworks img {
    height: 100%;
    width: 100%; }
  .ourworks .row div:last-child {
    padding-right: 0; }

.contactus {
  border: 2px #3c3c3c solid;
  width: 47%;
  height: 297px;
  color: #3c3c3c; }
  .contactus .up {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .contactus h2 {
    font-size: 29.77px;
    font-weight: 700;
    transform: scaleY(1.0078) translate(0, -110%);
    background: #fff;
    width: 50%; }
  .contactus p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.89px; }
  .contactus .btn {
    border: 2px #3c3c3c solid;
    background: #3c3c3c;
    width: 391px;
    height: 54px;
    margin-top: 20px; }
  .contactus .btn a {
    font-size: 15.87px;
    font-weight: 400;
    transform: scaleY(1.0078);
    color: #fff; }

footer {
  color: #3c3c3c;
  padding-bottom: 5px; }
  footer p {
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
