$colora:#3c3c3c;
$colorb:#fff;
@mixin border($colorborder){
	border: 2px $colorborder solid;}
*{
	font-family:Lato;
}
body{
	background: $colorb;
	width: 100%;
	height: 4685px;
	display:flex;
	justify-content: space-between;
  	align-items: center;
	flex-direction:column;
	color: $colorb;
}
p{
	margin:0;
}
header,h2,.btn,{
	text-transform: uppercase;
}
header{
	display:flex;
	justify-content: space-around;
  	align-items: center;
	flex-direction:column;
	width: 100%;
	height: 1072px;
	background:url("../images/header.jpg") center/cover no-repeat;
	.ellipse{
		width: 65px;
		height: 69px;
		margin-top:200px;
	}
	h1{
		font-size: 53.9px;
		font-weight: 700;
		transform: scaleY(1.0018);
		letter-spacing: 10px;
	}
	p{
		font-size: 15px;
		font-weight: 400;
		line-height: 29px;
		text-align: center;	}
	.shape{
		width: 23px;
		height: 37px;
	}
}
.aboutus{
	@include border($colora);
	width: 47%;
	height: 326px;
	color:  $colora;
	h2{
		font-size: 33.93px;
		font-weight: 700;
		transform: scaleY(1.002);
		position:relative;
		bottom:17px;
		margin:0;
		background: $colorb;
		display: inline-block;
		width:50%;
	}
	div{
		height: 308px;
		padding:20px;	
		p{
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			margin:0;

		}
		p:nth-of-type(2){
			margin-bottom: 20px;
		}
	}
}
.services{
	width: 100%;
	height: 488px;
	background:url("../images/services.jpg") center/cover no-repeat;
	padding: 5% 0px;
	.content{
		@include border($colorb);
		width: 60%;
  		border-top: none;
  		margin:50px auto;
		.headline{
			position: relative;
  			transform: translate(0, -50%);
  			margin-left: -2px;
  			margin-right: -2px;
  			overflow: hidden;
  			display: flex;
  			align-items: center;
			h2{
				margin:0 auto;
				font-size: 33.93px;
				font-weight: 700;
				transform: scaleY(1.002);
				position:relative;
				display: inline-block;
				width:30%;
				background: transparent;
				flex-grow: 0;
			}
			&::before{
				content: "";
  				background: $colorb;
  				flex-grow: 1;
  				height: 2px;
			}
			&::after{
				content: "";
  				background: $colorb;
  				flex-grow: 1;
  				height: 2px;
			}
		}
		.text{
			width: 100%;
			height: 247px;
			padding:60px;
			margin:0 auto;
			p{
				font-size: 16px;
				font-weight: 300;
				line-height: 25.89px;
			}
		}
	}
}
.whatwedo{
	@include border($colora);
	width: 47%;
	height: 1196px;
	padding:10px;
	color:$colora;
	text-align: center;
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	h2{
		font-size: 33.93px;
		font-weight: 700;
		transform: scaleY(1.002);
		position:relative;
		bottom:55px;
		display: inline-block;
		width:419px;
		background: $colorb;
		margin:0;
	}
	.design{
		width: 100%;
		height: 286px;
		position:relative;
		bottom:55px;
		margin-bottom: 30px;
	 	img:first-child{
			margin-bottom:35px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			line-height: 25.89px;
		}
	 	p:nth-of-type(1){
			font-size: 19.96px;
			font-weight: 700;
			transform: scaleY(1.002);
			margin-bottom:30px;
		}
	}
	.development{
		width: 100%;
		height: 336px;
		position:relative;
		bottom:55px;
		img:first-child{
			margin-bottom:35px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			line-height: 25.89px;
		}
		p:nth-of-type(1){
			margin-bottom:30px;
		}
	}
	.productmanagement{
		width: 100%;
		height: 261px;
		position:relative;
		bottom:55px;
		img:first-child{
			margin-bottom:35px;
		}
		p{
			font-size: 14px;
			font-weight: 300;
			line-height: 25.89px;
		}
		p:nth-of-type(1){
			margin-bottom:30px;
		}
	}
}
.ourworks{
	width:100%;
	.col-md-4{
		height:237px;
		padding:0 10px 10px 0;
		}
		p{
			font-size: 33.93px;
			font-weight: 700;
			transform: scaleY(1.002) translate(10%,-120%);
			text-transform: uppercase;
			letter-spacing: 10px;
			display:block;
			width:280px;
			text-align:left;
		}
		img{
			height: 100%;
			width:100%;
		}
	.row div:last-child{
		padding-right:0;
	}
}
.contactus{
	@include border($colora);
	width: 47%;
	height: 297px;
	color:$colora;
	.up{
		position:relative;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	h2{
		font-size: 29.77px;
		font-weight: 700;
		transform: scaleY(1.0078) translate(0,-110%);
		background: $colorb;
		width:50%;
	}
	p{
		font-size: 16px;
		font-weight: 300;
		line-height: 25.89px;
	}
	.btn{
		@include border($colora);
		background:  $colora;
		width: 391px;
		height: 54px;
		margin-top:20px;
	}
	.btn a{
		font-size: 15.87px;
		font-weight: 400;
		transform: scaleY(1.0078);
		color:#fff;
	}
}
footer{
	color:$colora;
	padding-bottom: 5px;
	p{
		display:inline-block;
	}
}
@media(max-width:768px){
	.aboutus{
		height:340px;
	}
	.services {
  		.content{ 
	 		.headline{
    			transform: translate(0, -100%);
    			}
    		.text {
      			height: 267px;
				padding:40px;
 			}
	  	}
	}
}