body {
  background-color: #ffffff;
  width: 100vw;
  height: 4685px;
  font-family: Lato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff; }

p {
  margin: 0; }

header, h2, .btn {
  text-transform: uppercase; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 1072px;
  background: url("../images/header.jpg") center/cover no-repeat; }
  header .ellipse {
    width: 65px;
    height: 69px;
    margin-top: 200px; }
  header h1 {
    font-size: 53.9px;
    font-weight: 700;
    transform: scaleY(1.0018);
    letter-spacing: 10px; }
  header p {
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    text-align: center; }
  header .shape {
    width: 23px;
    height: 37px; }

.aboutus {
  width: 902px;
  height: 326px;
  color: #111; }
  .aboutus h2 {
    font-size: 33.93px;
    font-weight: 700;
    transform: scaleY(1.002);
    position: relative;
    top: 30px;
    background: #fff;
    display: inline-block;
    width: 500px; }
  .aboutus div {
    border-width: 2px;
    border-color: #3c3c3c;
    border-style: solid;
    width: 898px;
    height: 308px;
    padding: 60px; }
    .aboutus div p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin: 0; }
    .aboutus div p:nth-of-type(2) {
      margin-bottom: 20px; }

.services {
  width: 100%;
  height: 488px;
  background: url("../images/services.jpg") center/cover no-repeat;
  padding: 5% 0px; }
  .services .content {
    width: 895px;
    border: 2px solid #fff;
    border-top: none;
    margin: 0 auto; }
    .services .content .headline {
      position: relative;
      transform: translate(0, -50%);
      margin-left: -2px;
      margin-right: -2px;
      overflow: hidden;
      display: flex;
      align-items: center; }
      .services .content .headline h2 {
        margin: 0 auto;
        font-size: 33.93px;
        font-weight: 700;
        transform: scaleY(1.002);
        position: relative;
        display: inline-block;
        width: 419px;
        background: transparent;
        flex-grow: 0; }
      .services .content .headline::before {
        content: "";
        background: #fff;
        flex-grow: 1;
        height: 2px; }
      .services .content .headline::after {
        content: "";
        background: #fff;
        flex-grow: 1;
        height: 2px; }
    .services .content .text {
      border-top: none;
      width: 895px;
      height: 247px;
      padding: 60px;
      margin: 0 auto; }
      .services .content .text p {
        font-size: 16px;
        font-weight: 300;
        line-height: 25.89px; }

.whatwedo {
  width: 902px;
  height: 1196px;
  color: #3c3c3c;
  border-width: 2px;
  border-color: #3c3c3c;
  border-style: solid;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .whatwedo h2 {
    font-size: 33.93px;
    font-weight: 700;
    transform: scaleY(1.002);
    position: relative;
    bottom: 70px;
    display: inline-block;
    width: 419px;
    background: #fff; }
  .whatwedo .design {
    width: 541px;
    height: 286px; }
    .whatwedo .design img:first-child {
      margin-bottom: 41px; }
    .whatwedo .design p {
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px; }
    .whatwedo .design p:nth-of-type(1) {
      font-size: 19.96px;
      font-weight: 700;
      transform: scaleY(1.002);
      margin-bottom: 37px; }
  .whatwedo .development {
    width: 895px;
    height: 336px; }
    .whatwedo .development img:first-child {
      margin-bottom: 38px; }
    .whatwedo .development p {
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px; }
    .whatwedo .development p:nth-of-type(1) {
      margin-bottom: 43px; }
  .whatwedo .productmanagement {
    width: 895px;
    height: 261px; }
    .whatwedo .productmanagement img:first-child {
      margin-bottom: 45px; }
    .whatwedo .productmanagement p {
      font-size: 14px;
      font-weight: 300;
      line-height: 25.89px; }
    .whatwedo .productmanagement p:nth-of-type(1) {
      margin-bottom: 47px; }

.ourworks .col-md-4 {
  height: 237px;
  padding: 0 10px 10px 0; }
  .ourworks .col-md-4 p {
    position: relative;
    bottom: 30px; }
.ourworks .row div:last-child {
  padding-right: 0; }

.contactus {
  width: 899px;
  height: 297px;
  color: #000;
  border-width: 2px;
  border-color: #3c3c3c;
  border-style: solid; }
  .contactus .up {
    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .contactus h2 {
    font-size: 29.77px;
    font-weight: 700;
    transform: scaleY(1.0078); }
  .contactus p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.89px; }
  .contactus .btn {
    border-width: 2px;
    border-color: #3c3c3c;
    border-style: solid;
    background-color: #3c3c3c;
    width: 391px;
    height: 54px; }
  .contactus .btn a {
    font-size: 15.87px;
    font-weight: 400;
    transform: scaleY(1.0078); }

footer {
  color: #000; }
  footer p {
    display: inline-block; }

.sservices {
  width: 100%;
  height: 488px;
  color: #fff;
  background: url("../images/services.jpg") center/cover no-repeat; }
  .sservices .scontent {
    width: 500px;
    padding: 0 0px 40px 0px;
    margin: 50px auto;
    border: 2px solid #fff;
    border-top: none; }
    .sservices .scontent .content-headline {
      position: relative;
      transform: translate(0, -50%);
      margin-left: -2px;
      margin-right: -2px;
      overflow: hidden;
      display: flex;
      align-items: center; }
      .sservices .scontent .content-headline h2 {
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 24px;
        display: inline-block;
        flex-grow: 0;
        padding: 0 30px; }
      .sservices .scontent .content-headline::before {
        content: "";
        background: #fff;
        flex-grow: 1;
        height: 2px; }
      .sservices .scontent .content-headline::after {
        content: "";
        background: #fff;
        flex-grow: 1;
        height: 2px; }
    .sservices .scontent .content-text {
      padding: 0 40px;
      width: 895px;
      height: 247px; }

/*# sourceMappingURL=style.css.map */
